<mat-toolbar color="primary" class="navbar">
    <span class="navbar-brand">Tienda</span>
    <span class="spacer"></span>
    <button mat-button routerLink="/order" routerLinkActive="active" >Orden</button>
    <button mat-button routerLink="/register" routerLinkActive="active" >Crear una cuenta</button>
    <button mat-button routerLink="/login" routerLinkActive="active" >Acceder</button>    
    <span class="menu-spacer"></span>
    <a
    mat-icon-button
    target="_blank"
    aria-label="Github Repo link"
    href="https://github.com/Jcvalencia05"
    >
    <img src="/assets/images/github-icon.svg" />
    </a>
</mat-toolbar>
